.App {
  text-align: center;
  display: grid;
  grid-template-areas:
    "hd hd"
    "sd main"
    "sd plot"
    "ft ft";
  grid-template-columns: auto 1fr;
}

.header {
  grid-area: hd;
}
.footer {
  grid-area: ft;
}
.content {
  grid-area: main;
}
.sidebar {
  grid-area: sd;
}

.plot {
  grid-area: plot;
}

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
  .App {
    text-align: center;
    display: grid;
    grid-template-areas:
      "hd"
      "sd"
      "main"
      "plot"
      "ft";
    grid-template-columns: 1fr;
  }
}
