.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.mainbody {
  text-align: center;
  display: grid;
  grid-template-areas:
    "sd main"
    "sd plot";
  grid-template-columns: auto 1fr;
}

.header {
  grid-area: hd;
}
.footer {
  grid-area: ft;
}
.content {
  grid-area: main;
}
.sidebar {
  grid-area: sd;
}

.plot {
  grid-area: plot;
}

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
  .mainbody {
    text-align: center;
    display: grid;
    grid-template-areas:
      "sd"
      "main"
      "plot";
    grid-template-columns: 1fr;
  }
}
